<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>The Way Of Perfect Flask-Vercel Deploy</h1>
    <ul>
      <li>virtualenvでプロジェクトを作成</li>
      <li>Scriptに移動、.\activate</li>
      <li>pip install flask</li>
      <li>pip freeze > requirements.txt</li>
      <li>cd..</li>
      <li>vercel dev</li>
      <li>vercel deploy</li>
      <li>githubにリモートリポジトリ作成</li>
      <li>vercel Connect Git Repository</li>
      <li>github プロジェクトfileアップロード</li>
      <li>新しくローカルフォルダを作りvs.codeで開く</li>
      <li>リモートリポジトリから git clone</li>
      <li>変更してコミット</li>
      <li>プッシュ</li>
    </ul>
  </body>
</html>
